[submodule "modules/core"]
	path = modules/core
	url = ../DragonCore
[submodule "modules/audio"]
	path = modules/audio
	url = ../DragonAudio
[submodule "modules/compute"]
	path = modules/compute
	url = ../DragonCompute
[submodule "modules/physics"]
	path = modules/physics
	url = ../DragonPhysics
[submodule "modules/graphics"]
	path = modules/graphics
	url = ../DragonGraphics
